.appHeader {
  position: relative;
}

.nav {
  margin-top: 7px;
}

.nav::after {
  content: "";

  position: absolute;

  display: block;

  width: 100%;
  height: 1px;
  background-color: #868794;
}

.navList {
  display: flex;

  overflow: hidden;
}

.navItem {
  list-style: none;

  margin-right: 38px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;

  color: #868794;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.082px;

  padding-top: 15px;
  padding-bottom: 15px;
}

.navLink:hover {
  color: #fff;
}

.activeNavLink {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;

  color: #fff;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.082px;

  padding-top: 15px;
  padding-bottom: 15px;
}

.activeNavLink::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;

  border-radius: 5px;
}
